<div class="container" style="margin-top: 70px;">



  <mat-table [dataSource]="readerList" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="idTipoReader">
      <mat-header-cell *matHeaderCellDef> Tipo Reader </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idTipoReader}} </mat-cell>
    </ng-container>

    <!-- Age Definition -->
    <ng-container matColumnDef="ipAdress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Indirizzo Ip </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ipAdress}} </mat-cell>
    </ng-container>

    <!-- Title Definition -->
    <ng-container matColumnDef="porta">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Porta </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.porta}} </mat-cell>
    </ng-container>




    <ng-container matColumnDef="azioni">
      <mat-header-cell *matHeaderCellDef class="left"> Azioni </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="startReader(row)">
            <mat-icon class="mat-2">edit</mat-icon>
        </button>
      
        <button mat-icon-button color="warn" (click)="stopReader(row)">
            <mat-icon >delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['idTipoReader', 'ipAdress', 'porta', 'azioni' ]"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['idTipoReader', 'ipAdress', 'porta', 'azioni']"></mat-row>


  </mat-table>

</div>