
<div class="container" style="margin-top: 70px;"  >
  <form [formGroup]="editForm" (ngSubmit)="submit()" *ngIf="editForm" >
       
    <div class="form-group">
      <button  class="btn btn-success" >Salva</button>
    </div>

      <div class="form-group">
          <label for="idTipoReader">Seleziona Tipo Reader</label>
          <select formControlName="idTipoReader"   class="form-control" readonly >
              <option disabled>Seleziona Reader da Configurare</option>
              <option *ngFor="let tipoReader of tipoReaderList" value="{{tipoReader.id}}">{{tipoReader.descrizione}}</option>
          </select>
      </div>  
      
      <div class="form-group" >
        <label for="ipAdress">Indirizzo IP</label>
        <input formControlName="ipAdress" id="ipAdress"   type="text" class="form-control"  readonly > 
      </div>

      <div class="form-group">
        <label for="porta">Porta</label>
        <input formControlName="porta" id="porta"   type="text" class="form-control"   readonly >
      </div>

     

      <div class="form-group">
        <label for="separatore">Separatore</label>
        <input formControlName="separatore" id="separatore"   type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.separatore.errors }" maxlength="1"  >
        <div *ngIf="submitted && f.separatore.errors" class="invalid-feedback">
            <div *ngIf="f.separatore.errors.required">Separatore Obbligatoria.</div>
        </div>
      </div>

    

      <div class="form-group">
        <label for="activatePort">Porta Attivata</label>
        <input formControlName="activatePort" id="activatePort" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.activatePort.errors }" maxlength="20"  >
      </div>

      <div class="form-group">
        <label for="onlinePort">Porta Online</label>
        <input formControlName="onlinePort" id="onlinePort" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.onlinePort.errors }" maxlength="20"  >
      </div>

      <div class="form-group">
        <label for="greenPort">Porta Verde</label>
        <input formControlName="greenPort" id="greenPort"   type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.greenPort.errors }" maxlength="20"  >
      </div>
      <div class="form-group">
        <label for="redPort">Porta Rossa</label>
        <input formControlName="redPort" id="redPort"   type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.redPort.errors }" maxlength="20"  >
      </div>
      <div class="form-group">
        <label for="yellowPort">Porta Gialla</label>
        <input formControlName="yellowPort" id="yellowPort"   type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.yellowPort.errors }" maxlength="20"  >
      </div>
    </form>
     
      

      <button mat-flat-button  color="primary" type="button" (click)="openModal()" style="margin:0px 20px;">
        Aggiungi
      </button>
  
          <mat-table [dataSource]="antennaTable"  class="mat-elevation-z8"  >
  
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef class="left"> No. </mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
            </ng-container>
           
            <ng-container matColumnDef="enable">
              <mat-header-cell *matHeaderCellDef class="left">Attiva </mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.enable}}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="maxRxSensitivity"  >
              <mat-header-cell *matHeaderCellDef class="left"> Max Rx Sensitivity </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.maxRxSensitivity}} </mat-cell>
            </ng-container>
          
           
            <ng-container matColumnDef="maxTxPower" >
              <mat-header-cell *matHeaderCellDef class="left"> Max Tx Power </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.maxTxPower}} </mat-cell>
            </ng-container>
      
             
             <ng-container matColumnDef="powerinDbm">
              <mat-header-cell *matHeaderCellDef class="left"> Power in Dbm </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.powerinDbm}} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="sensitivityinDbm">
              <mat-header-cell *matHeaderCellDef class="left"> Sensitivity in Dbm </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.sensitivityinDbm}} </mat-cell>
            </ng-container>
       
            <ng-container matColumnDef="azioni">
                <mat-header-cell *matHeaderCellDef> Azioni</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="editItem(row)">
                        <mat-icon class="mat-2">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteItem(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                  </mat-cell>
            </ng-container>
      
            <mat-header-row *matHeaderRowDef="['position', 'enable', 'maxRxSensitivity', 'maxTxPower', 'powerinDbm', 'sensitivityinDbm','azioni']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['position', 'enable', 'maxRxSensitivity', 'maxTxPower', 'powerinDbm', 'sensitivityinDbm', 'azioni']"></mat-row>
           
          </mat-table> 
      
 
</div>