<div class="container" style="margin-top: 70px;" class="border-class"  >



  <form [formGroup]="editForm" (ngSubmit)="submit()" *ngIf="editForm" >

    <div class="form-group">
      <button class="btn btn-success">
        Salva
      </button>
      <button mat-flat-button color="warn" type="button" (click)="indietro()" style="margin:0px 20px;">
        Indietro
      </button>
    </div>


   
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="idTipoReader">Seleziona Tipo Reader</label>
          <select formControlName="idTipoReader" class="form-control" readonly>
            <option disabled>Seleziona Reader da Configurare</option>
            <option *ngFor="let tipoReader of tipoReaderList" value="{{tipoReader.id}}" disabled>
              {{tipoReader.descrizione}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="ipAdress">Indirizzo Ip</label>
          <input formControlName="ipAdress" id="ipAdress" type="text" class="form-control" readonly>
        </div>
        
        <div class="form-group col-md-2">
          <label for="separatore">Separatore</label>
          <input formControlName="separatore" id="separatore" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.separatore.errors }" maxlength="1">
          <div *ngIf="submitted && f.separatore.errors" class="invalid-feedback">
            <div *ngIf="f.separatore.errors.required">Separatore Obbligatoria.</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="activatePort">Porta Attivata</label>
          <input formControlName="activatePort" id="activatePort" type="number" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.activatePort.errors }" maxlength="1">
        </div>

        <div class="form-group col-md-2">
          <label for="onlinePort">Porta Online</label>
          <input formControlName="onlinePort" id="onlinePort" type="number" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.onlinePort.errors }" maxlength="1">
        </div>

        <div class="form-group col-md-2">
          <label for="greenPort">Porta Verde</label>
          <input formControlName="greenPort" id="greenPort" type="number" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.greenPort.errors }" maxlength="1">
        </div>

        <div class="form-group col-md-2">
          <label for="redPort">Porta Rossa</label>
          <input formControlName="redPort" id="redPort" type="number" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.redPort.errors }" maxlength="1">
        </div>
        <div class="form-group col-md-2">
          <label for="yellowPort">Porta Gialla</label>
          <input formControlName="yellowPort" id="yellowPort" type="number" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.yellowPort.errors }" maxlength="1">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <mat-checkbox formControlName="createOutFile" id="createOutFile">Out File Log?</mat-checkbox>
        </div>

        <div class="form-group col-md-4">
          <label for="nameOutLog">Name Out Log</label>
          <input formControlName="nameOutLog" id="nameOutLog" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nameOutLog.errors }" maxlength="20">
        </div>

        <div class="form-group col-md-4">
          <label for="extentionOutLog">Extention Out Log</label>
          <input formControlName="extentionOutLog" id="extentionOutLog" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.extentionOutLog.errors }" maxlength="20">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <mat-checkbox formControlName="createErrFile" id="createErrFile">Create Err File?</mat-checkbox>
        </div>

        <div class="form-group col-md-4">
          <label for="nameErrLog">Name Err Log</label>
          <input formControlName="nameErrLog" id="nameErrLog" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nameErrLog.errors }" maxlength="20">
        </div>

        <div class="form-group col-md-4">
          <label for="extentionErrLog">Extention Err Log</label>
          <input formControlName="extentionErrLog" id="extentionErrLog" type="text" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.extentionErrLog.errors }" maxlength="20">
        </div>

      </div>

  </form>


  <div class="form-group">
    <button mat-flat-button color="primary" type="button" (click)="openModal()" style="margin:0px 20px;">
      Aggiungi Antenna
    </button>
  </div>

  <mat-table [dataSource]="antennaTable" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef class="left"> No. </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="enable">
      <mat-header-cell *matHeaderCellDef class="left">Attiva </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.enable}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="maxRxSensitivity">
      <mat-header-cell *matHeaderCellDef class="left"> Max Rx Sensitivity </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.maxRxSensitivity}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="maxTxPower">
      <mat-header-cell *matHeaderCellDef class="left"> Max Tx Power </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.maxTxPower}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="powerinDbm">
      <mat-header-cell *matHeaderCellDef class="left"> Power in Dbm </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.powerinDbm}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sensitivityinDbm">
      <mat-header-cell *matHeaderCellDef class="left"> Sensitivity in Dbm </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sensitivityinDbm}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="azioni">
      <mat-header-cell *matHeaderCellDef> Azioni</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="editItem(row)">
          <mat-icon class="mat-2">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteItem(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="['position', 'enable', 'maxRxSensitivity', 'maxTxPower', 'powerinDbm', 'sensitivityinDbm','azioni']">
    </mat-header-row>
    <mat-row
      *matRowDef="let row; columns: ['position', 'enable', 'maxRxSensitivity', 'maxTxPower', 'powerinDbm', 'sensitivityinDbm', 'azioni']">
    </mat-row>

  </mat-table>




</div>