<div class="container" style="margin-top: 70px;" class="border-class">



  <form [formGroup]="editForm" (ngSubmit)="submit()" *ngIf="editForm">

    <div class="form-group">
      <button class="btn btn-success">
        Salva
      </button>
      <button mat-flat-button color="warn" type="button" (click)="indietro()" style="margin:0px 20px;">
        Indietro
      </button>
    </div>



    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="idTipoReader">Seleziona Tipo Reader</label>
        <select formControlName="idTipoReader" class="form-control" readonly>
          <option disabled>Seleziona Reader da Configurare</option>
          <option *ngFor="let tipoReader of tipoReaderList" value="{{tipoReader.id}}" disabled>
            {{tipoReader.descrizione}}
          </option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="ipAdress">Indirizzo Ip</label>
        <input formControlName="ipAdress" id="ipAdress" type="text" class="form-control" readonly>
      </div>

      <div class="form-group col-md-3">
        <label for="readerMode">Reader Mode</label>
        <select formControlName="readerMode" class="form-control">
          <option disabled>Seleziona Reader da Configurare</option>
          <option *ngFor="let readerModeOption of readerModes" value="{{readerModeOption.id}}">
            {{readerModeOption.name}}
          </option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <mat-checkbox formControlName="keepAlive" id="keepAlive">Keep Alive</mat-checkbox>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-3">
        <mat-checkbox formControlName="portaIn1" id="portaIn1">Porta In 1</mat-checkbox>
      </div>

      <div class="form-group col-md-3">
        <mat-checkbox formControlName="portaIn2" id="portaIn2">Porta In 2</mat-checkbox>
      </div>

      <div class="form-group col-md-3">
        <mat-checkbox formControlName="portaIn3" id="portaIn3">Porta In 3</mat-checkbox>
      </div>

      <div class="form-group col-md-3">
        <mat-checkbox formControlName="portaIn4" id="portaIn4">Porta In 4</mat-checkbox>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <mat-checkbox formControlName="portaOut1" id="portaOut1">Porta Out 1</mat-checkbox>
      </div>

      <div class="form-group col-md-3">
        <mat-checkbox formControlName="portaOut2" id="portaOut2">Porta Out 2</mat-checkbox>
      </div>

      <div class="form-group col-md-3">
        <mat-checkbox formControlName="portaOut3" id="portaOut3">Porta Out 3</mat-checkbox>
      </div>

      <div class="form-group col-md-3">
        <mat-checkbox formControlName="portaOut4" id="portaOut4">Porta Out 4</mat-checkbox>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <mat-checkbox formControlName="autoStartActive" id="autoStartActive">Start/Stop Enable</mat-checkbox>
      </div>

      <div class="form-group col-md-3">

        <label for="numPortaAutostart">Numero Porta In Start/Stop </label>
        <select formControlName="numPortaAutostart" class="form-control">
          <option [ngValue]="null" disabled>Seleziona Porta</option>
          <option *ngFor="let portNumber of portNumbers" [ngValue]="portNumber.id">{{portNumber.name}}</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="autoStartMode">Start Mode </label>
        <select formControlName="autoStartMode" class="form-control">
          <option [ngValue]="null" disabled>Seleziona</option>
          <option *ngFor="let startMode of startModes" [ngValue]="startMode.id">{{startMode.name}}</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="autoStopMode">Stop Mode </label>
        <select formControlName="autoStopMode" class="form-control">
          <option [ngValue]="null" disabled>Seleziona</option>
          <option *ngFor="let stopMode of stopModes" [ngValue]="stopMode.id">{{stopMode.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <mat-checkbox formControlName="enableUserTid" id="enableUserTid">USER & TID</mat-checkbox>
      </div>

      <div class="form-group col-md-3">
        <label for="idUser">Id User</label>
        <input formControlName="idUser" id="idUser" type="number" class="form-control" maxlength="3">
      </div>

      <div class="form-group col-md-3">
        <label for="idTid">Id TID</label>
        <input formControlName="idTid" id="idTid" type="number" class="form-control" maxlength="3">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <mat-checkbox formControlName="createOutFile" id="createOutFile">Out File Log?</mat-checkbox>
      </div>

      <div class="form-group col-md-3">
        <label for="nameOutLog">Name Out Log</label>
        <input formControlName="nameOutLog" id="nameOutLog" type="text" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nameOutLog.errors }" maxlength="20">
      </div>

      <div class="form-group col-md-3">
        <label for="extentionOutLog">Extention Out Log</label>
        <input formControlName="extentionOutLog" id="extentionOutLog" type="text" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.extentionOutLog.errors }" maxlength="20">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <mat-checkbox formControlName="createErrFile" id="createErrFile">Create Err File?</mat-checkbox>
      </div>

      <div class="form-group col-md-3">
        <label for="nameErrLog">Name Err Log</label>
        <input formControlName="nameErrLog" id="nameErrLog" type="text" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nameErrLog.errors }" maxlength="20">
      </div>

      <div class="form-group col-md-3">
        <label for="extentionErrLog">Extention Err Log</label>
        <input formControlName="extentionErrLog" id="extentionErrLog" type="text" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.extentionErrLog.errors }" maxlength="20">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="separatore">Separatore</label>
        <input formControlName="separatore" id="separatore" type="text" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.separatore.errors }" maxlength="1">
        <div *ngIf="submitted && f.separatore.errors" class="invalid-feedback">
          <div *ngIf="f.separatore.errors.required">Separatore Obbligatoria.</div>
        </div>
      </div>
    </div>


  </form>


  <div class="form-group">
    <button mat-flat-button color="primary" type="button" (click)="openModal()" style="margin:0px 20px;">
      Aggiungi Antenna
    </button>
  </div>

  <mat-table [dataSource]="antennaTable" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef class="left"> No. </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="enable">
      <mat-header-cell *matHeaderCellDef class="left">Attiva </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.enable}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="maxRxSensitivity">
      <mat-header-cell *matHeaderCellDef class="left"> Max Rx Sensitivity </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.maxRxSensitivity}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="maxTxPower">
      <mat-header-cell *matHeaderCellDef class="left"> Max Tx Power </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.maxTxPower}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="powerinDbm">
      <mat-header-cell *matHeaderCellDef class="left"> Power in Dbm </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.powerinDbm}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sensitivityinDbm">
      <mat-header-cell *matHeaderCellDef class="left"> Sensitivity in Dbm </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sensitivityinDbm}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="azioni">
      <mat-header-cell *matHeaderCellDef> Azioni</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="editItem(row)">
          <mat-icon class="mat-2">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteItem(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="['position', 'enable', 'maxRxSensitivity', 'maxTxPower', 'powerinDbm', 'sensitivityinDbm','azioni']">
    </mat-header-row>
    <mat-row
      *matRowDef="let row; columns: ['position', 'enable', 'maxRxSensitivity', 'maxTxPower', 'powerinDbm', 'sensitivityinDbm', 'azioni']">
    </mat-row>

  </mat-table>




</div>