<div class="container" style="margin-top: 70px;">


  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>


  <mat-table [dataSource]="dataReaderList" matSort class="mat-elevation-z8">
    

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef > id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="ipAdress">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Indirizzo Ip </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ipAdress}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="epc">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> EPC </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.epc}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tid">
      <mat-header-cell *matHeaderCellDef mat-sort-header> TID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="packId">
      <mat-header-cell *matHeaderCellDef > PackId </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.packId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="timeStamp">
      <mat-header-cell *matHeaderCellDef   mat-sort-header> Time </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.timeStamp}} </mat-cell>
    </ng-container>
    

    <mat-header-row *matHeaderRowDef="['id', 'ipAdress', 'epc', 'tid', 'packId', 'timeStamp']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['id', 'ipAdress', 'epc', 'tid', 'packId', 'timeStamp']"></mat-row>


  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>