<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">

    <form [formGroup]="editForm" (ngSubmit)="submit()"  >
          
        <input formControlName="tipoReaderSel" id="tipoReaderSel"   type="hidden" class="form-control"   > 

        <div class="form-group" >
          <label for="ipAdress">Indirizzo Ip</label>
          <input formControlName="ipAdress" id="ipAdress"   type="text" class="form-control"   readonly> 
        </div>

        <div class="form-group">
          <label for="porta">Porta</label>
          <input formControlName="porta" id="porta"   type="text" class="form-control"  readonly >
        </div>

        <div class="form-group">
          <label for="separatore">Separatore</label>
          <input formControlName="separatore" id="separatore"   type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.separatore.errors }" maxlength="1"  >
          <div *ngIf="submitted && f.separatore.errors" class="invalid-feedback">
              <div *ngIf="f.separatore.errors.required">Separatore Obbligatoria.</div>
          </div>
        </div>

       

        <div class="form-group">
          <label for="antenna1">Antenna 1</label>
          <input formControlName="antenna1" id="antenna1" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.antenna1.errors }" maxlength="20"  >
        </div>
        <div class="form-group">
          <label for="antenna2">Antenna 2</label>
          <input formControlName="antenna2" id="antenna2" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.antenna2.errors }" maxlength="20"  >
        </div>
        
    
          
       
        <div class="modal-footer">
          <button [disabled]="isLoading" class="btn btn-success mr-2">Modifica</button>
          <button [disabled]="isLoading" class="btn btn-primary mr-2" (click)="activeModal.close('Cancel')">Chiudi</button>
        </div>
    
    </form>
</div>
