
    
    

    <div class="form-group"  style="margin-top: 70px;" >
        <button  class="btn btn-primary"  (click)="addNewReader()" >
            AGGIUNGI
        </button>
    </div>  


    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"  >
    
      <ng-container matColumnDef="idTipoReader">
        <mat-header-cell *matHeaderCellDef> Tipo Reader </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idTipoReader}} </mat-cell>
      </ng-container>
    
      <!-- Age Definition -->
      <ng-container matColumnDef="ipAdress"  >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Indirizzo Ip </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.ipAdress}} </mat-cell>
      </ng-container>
    
      <!-- Title Definition -->
      <ng-container matColumnDef="porta" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Porta </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.porta}} </mat-cell>
      </ng-container>

       <!-- Title Definition -->
       <ng-container matColumnDef="separatore">
        <mat-header-cell *matHeaderCellDef> Separatore </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.separatore}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="accent" (click)="editItem(row)">
              <mat-icon class="mat-18">edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn" (click)="deleteItem(row)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>


      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="['idTipoReader', 'ipAdress', 'porta', 'separatore', 'update', 'delete']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['idTipoReader', 'ipAdress', 'porta', 'separatore',  'update', 'delete']"></mat-row>
    </mat-table>

<!--table class="table" *ngIf="readerList">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo Reader</th>
        <th scope="col">Indirizzo Ip</th>
        <th scope="col">Porta</th>
        <th scope="col">Separatore</th>
        <th scope="col">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reader of readerList, let i = index">
        <th scope="row">{{i}}</th>
        <td>{{reader.idTipoReader}}</td>
        <td>{{reader.ipAdress}}</td>
        <td>{{reader.porta}}</td>
     
        <td>{{reader.separatore}}</td>
        <td>
           
            <button class="btn btn-success m-2" (click)="editItem(reader)"><mat-icon>edit</mat-icon></button>
            <button class="btn btn-danger m-2" (click)="deleteItem(reader)">Cancella</button>
           
        </td>
      </tr>
    </tbody>
  </table-->


