<div class="add-title">
    <h2 class="primary">Aggiungi Antenna</h2>
</div>
<div class="container" style="margin-top: 70px;"  >
    <div style="width: 40%;"  >
        <form [formGroup]="form"   >
            <input formControlName="id" id="id"   type="hidden" class="form-control" > 
            <input formControlName="idReader" id="idReader"   type="hidden" class="form-control" > 

            <div class="form-group">
                <label for="position">No.</label>
                <input formControlName="position" id="position"   type="number"  class="form-control"  > 
            </div>
            <div class="form-group">
                <mat-checkbox formControlName="enable" id="enable" >Attiva</mat-checkbox>
            </div>
            <div class="form-group">
                <mat-checkbox formControlName="maxRxSensitivity" id="maxRxSensitivity" >Max Rx Sensitivity</mat-checkbox>
            </div>
            <div class="form-group">
                <mat-checkbox formControlName="maxTxPower" id="maxTxPower" >Max Tx Power</mat-checkbox>
            </div>
            

            <div class="form-group">
                <label for="powerinDbm">Power in Dbm</label>
                <input formControlName="powerinDbm" id="powerinDbm"   type="number" class="form-control"  >
            </div>

            <div class="form-group">
                <label for="sensitivityinDbm">Sensitivity in Dbm</label>
                <input formControlName="sensitivityinDbm" id="sensitivityinDbm"   type="number" class="form-control" >
            </div>

            <div class="btn-sec">
                <button mat-raised-button type="button" color="primary" class="Update-btn" (click)="onAddAntenna()">Aggiungi</button>
                <button mat-raised-button type="button" class="Discard-btn"   (click)="onAnnulla()" >Annula</button>
            </div>
        </form>
    </div>
</div>




